@import url('https://fonts.googleapis.com/css2? family= Maven+Pro:wght@600 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main,
.sign-in,
.sign-up {
    height: 101vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-sign-in {
    padding-top: 15rem;
    font-size: 44px;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}

.sign-in {
    font-family: 'Raleway', sans-serif;
}

#subtitle-sign-in {
    font-size: 19px;
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
    color: #808080
}

#email,
#password {
    border-style: hidden;
    background-color: #EEF5F3;
    padding: 0.7rem;
    text-indent: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1rem;
    border-radius: 20px;
    width: 90vw;
    margin-left: 5vw;
}

#email:hover,
#password:hover {
    background-color: #fff;
    transition: 0.8s;
    outline-offset: 2px;
    outline-color: #EEF5F3;
}

.inputs {
    padding-top: 1rem;
}

#submit-sign-in {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 0;
    border-radius: 30px;
    background-color: #23c793;
    border-style: hidden;
    width: 50vw;
}


.images {
    margin: 0.7rem 0;
}

img {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.3rem;
}

.sign-up {
    padding-top: 1rem;
    margin-top: 6rem;
    background-image: linear-gradient(to right, #23c793, #3AA6B1);
    line-height: 2;
    width: 100%;
    color: #fff;
}

#title-sign-up {
    padding-top: 3rem;
    font-size: 36px;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}

#subtitle-sign-up {
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    height: 140px;
    width: 222px;
}

#submit-sign-up {
    width: 14rem;
    height: 3rem;
    padding: 1rem 2rem;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Maven Pro', sans-serif;
    border-radius: 30px;
    border-style: hidden;
    background-color: #fff;
    margin-bottom: 6vh;
}

@media (min-width:641px) {
    main {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
    }

    * {
        margin: 0;
    }

    .sign-in {
        padding-right: 9vw;
        margin-left: 9.8vw;
    }

    #title-sign-in {
        padding: 0 0 1rem 0;
        font-size: 60px;
    }

    #title-sign-up {
        font-size: 50px;
    }

    #subtitle-sign-up {
        font-size: 18px;
        font-family: 'Maven Pro', sans-serif;
        font-weight: 100;
        text-align: center;
        height: 140px;
        width: 222px;
        padding-bottom: 3vh;
    }

    .inputs {
        width: 50vw;
    }

    #email,
    #password {
        width: 30vw;
        margin-left: 10vw;
    }

    .sign-up {
        margin: 0;
        background-image: linear-gradient(to right, #38B98C, #3BA7B1);
    }

    .triangle {
        margin: 5vw 18vw 0 0;
        border-bottom: 100px solid #38B98C;
        border-left: 150px solid transparent;
        border-right: 50px solid transparent;
    }

    #submit-sign-in {
        width: 15vw;
    }

    .circle-big {
        padding: 0;
        background-color: #3BA7B1;
        width: 130px;
        height: 130px;
        border-radius: 50% 50% 50% 50%;
    }
}